**/*.pth
**/__pycache__/
*.py[cod]
*.so


Mayowa_code_env/
.env/
.venv/
venv/


.ipynb_checkpoints/
.vscode/


**/dataset/
**/results/
**/result/
**/cluster_outputs/
**/checkpoint/
**/5FoldCV/
!Retraining_ReTesting/end-to-end-model/5FoldCV/
Parmeet_Results/
Retraining_ReTesting/GAN/
Retraining_ReTesting/NovelAttentionMask/
Retraining_ReTesting/Raindrop_Mask/
*.csv
*.tsv
*.h5
*.nc
*.npz
*.tar
*.gz
*.zip
*.ckpt
*.log
*.out
*.npy
*.pkl
*.pickle
*.png
*.pth 
*.PTH





slurm-*.out
slurm-*.err
*.o*
*.e*
