################################################################################
#  General Python artefacts
################################################################################
**/__pycache__/
*.py[cod]
*.so

################################################################################
#  Conda / virtual environments
################################################################################
# If your env directory lives *inside* the project folder, ignore it:
Mayowa_code_env/
.env/
.venv/
venv/

################################################################################
#  Jupyter & VS Code misc
################################################################################
.ipynb_checkpoints/
.vscode/

################################################################################
#  Large or generated outputs
################################################################################
**/dataset/
**/results/
**/result/
**/cluster_outputs/
**/checkpoint/
**/5FoldCV/
!Retraining_ReTesting/end-to-end-model/5FoldCV/
Parmeet_Results/
Retraining_ReTesting/GAN/
Retraining_ReTesting/NovelAttentionMask/
Retraining_ReTesting/Raindrop_Mask/
*.csv
*.tsv
*.h5
*.nc
*.npz
*.tar
*.gz
*.zip
*.ckpt
*.log
*.out
*.npy
*.pkl
*.pickle
*.png
*.pth 




################################################################################
#  HPC job logs (Slurm/PBS/etc.)
################################################################################
slurm-*.out
slurm-*.err
*.o*
*.e*
